h1 {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 30px;
    color: #616073;
    text-transform: uppercase;
}

h3 {
    margin: 0 0.5rem;
    color: white;
    word-break: break-all;
}

h4 {
    word-wrap: break-word;
    line-height: 22px;
}

h5 {
    font-size: 18px;
    margin: 0;
    word-break: break-all;
}

h6 {
    color: #616073;
    margin: 0;
    word-break: break-all;
}

.my_form {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}

.separate_group {
    margin-top: 30px;
}

.components_group {
    margin-top: 15px;
}

.btn_empty {
    padding: 0;
    background-color: unset;
    border: unset;
}

.icons {
    color: #616073;
    margin-right: 10px;
}

.icons.last_icon {
    margin-right: 0;
}

