h1 {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 30px;
    color: #616073;
    text-transform: uppercase;
}

h3 {
    margin: 0 0.5rem;
    color: white;
    word-break: break-all;
}

h4 {
    word-wrap: break-word;
    line-height: 22px;
}

h5 {
    font-size: 18px;
    margin: 0;
    word-break: break-all;
}

h6 {
    color: #616073;
    margin: 0;
    word-break: break-all;
}

.my_form {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}

.separate_group {
    margin-top: 30px;
}

.components_group {
    margin-top: 15px;
}

.btn_empty {
    padding: 0;
    background-color: unset;
    border: unset;
    margin-right: 10px;
}

.btn_empty.last_btn {
    margin-right: 0;
}

.icons {
    color: #616073;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    z-index: 1;
    content: attr(data-tooltip);
    position: absolute;
    left: -5px; bottom: 30px;
    background: white;
    width: 120px;
    color: #616073;
    padding: 5px;
    border: #616073 solid 2px;
    border-radius: 10px;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
}

[data-tooltip]:hover::after {
    opacity: 1;
}

[data-tooltip]:active::after {
    opacity: 0;
}

.right_element[data-tooltip]::after {
    left: unset;
    right: -5px;
    bottom: 30px;
}