.main {
    padding: 7px;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0, 0.7);
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.content {
    background: white;
    padding: 10px;
    border-radius: 10px;
}

