.main {
    padding: 10px;
    border: solid 1px #616073;
    border-radius: 10px;
}

.comments_sum {
    position: absolute;
    left: -5px;
    bottom: -9px;
    color: darkorange;
    font-weight: 700;
}

.comments_sum.plus {
    color: green;
}

.post_image {
    max-width: 100%;
    border-radius: 5px;
}

.error_text {
    word-wrap: break-word;
}